body {
	background-color: #ccc;
	padding: 0;
	margin: 0;
	font-family: courier, "Courier New", monospace;
	width: 100vw;
	height: 100vh;
}

button,
strong {
	font-family: courier, "Courier New", monospace;
}

#duration {
	font-family: courier, "Courier New", monospace;
}

h3 {
	text-align: center;
}

table {
	margin: 0 auto 25px;
	margin-top: 3em;
}
form {
	text-align: center;
}
#duration-input-m input {
	width: 50px;
}

.dialpad {
	background-color: #f0f0f0;
	border: solid 1px #999;
	border-radius: 3px;
	padding: 10px;
}

.dialpad td {
	padding: 7px;
}

.beginDial {
	height: 35px;
	background-color: #cccccc;
	width: 35px;
	border-radius: 3px;
	font-size: 1.5em;
}

.beginDial:active {
	background-color: #58cce0;
}

.generateButton {
	height: 35px;
	background-color: #cccccc;
	width: 210px;
	border-radius: 3px;
	font-size: 1.5em;
}
@media only screen and (max-width: 1024px) {
	body {
		background-color: #ccc;
		padding: 0;
		margin: 0;
		font-family: courier, "Courier New", monospace;
		font-size: 2em;
	}

	button,
	strong {
		font-family: courier, "Courier New", monospace;
	}

	#duration {
		font-family: courier, "Courier New", monospace;
	}

	h3 {
		text-align: center;
	}

	table {
		margin: 0 auto;
		margin-top: 5%;
		width: 90%;
		height: 80%;
		text-align: center;
	}
	form {
		margin-top: 1em;
	}
	#duration-input label {
		font-size: 1.5em;
	}
	#duration-input-m label {
		font-size: 1em;
	}
	#duration-input-m input {
		width: 25%;
	}
	input {
		margin: 0 auto;
		width: 80%;
		font-size: 1.5em;
	}
	.dialpad {
		background-color: #f0f0f0;
		border: solid 1px #999;
		border-radius: 3px;
		padding: 10px;
		font-size: 1.2em;
	}

	.dialpad td {
		padding: 7px;
	}

	.beginDial {
		height: 2em;
		background-color: #cccccc;
		width: 2em;
		border-radius: 3px;
	}

	.beginDial:active {
		background-color: #58cce0;
	}

	.generateButton {
		height: 3em;
		background-color: #cccccc;
		border-radius: 3px;
		width: 80%;
	}
}
